body.dark {
  --bg-color: linear-gradient(180deg, rgb(32, 33, 41) 0%, rgb(19, 20, 27) 58%);
  --primary-text-color: rgba(228, 228, 248, 0.802);
  --bg-wind-color: linear-gradient(
    150deg,
    rgba(54, 61, 79, 0.489) 0%,
    rgba(40, 41, 51, 0.649) 58%
  );
  --elem-color: rgb(78, 135, 233);
  --border-color: #ffffff13;
  --bg-image: url('public/world-map-bg.svg');
  --bg-transparent: 0.01;
  --plh-color: rgba(223, 223, 223, 0.246);
  --error-color:#1c1c1c;
}
body.light {
  --bg-color: linear-gradient(
    180deg,
    rgb(187, 206, 187) 0%,
    rgb(117, 121, 116) 58%
  );
  --primary-text-color: rgba(31, 41, 1, 0.802);
  --bg-wind-color: linear-gradient(
    150deg,
    rgba(140, 169, 154, 0.743) 0%,
    rgba(88, 117, 95, 0.76) 58%
  );
  --border-color: #013f1a33;
  --elem-color: rgb(21, 89, 34);
  --bg-image: url('public/mount-bg.webp');
  --bg-transparent: 0.1;
  --plh-color: rgba(0, 53, 0, 0.373);
  --error-color:#fa3030;
}
